.tag{
	display: inline-block;
	font-weight: 400;
	margin: 0;
	border-radius: 20px;
	text-align: center;	
    margin: 0px 5px;
  
}
.s{
	padding: 3px 3px;
	font-size: 12px;
	line-height: 16px;
}
.m{
	padding: 5px 12px;
	font-size: 14px;
	line-height: 14px;
}
.outline{
	border: 1px solid var(--secondary-color);
}