.content{
	.title{
		margin-top:25px;
		padding: 5px;
		position:sticky;
		top:74px;
		font-size: 26px;
		text-transform: uppercase;
		font-weight: 700;
		color: #1976d2;
		margin-bottom: 20px;
		background: rgba(255, 255, 255, 0.871);
	
	}
	.events {
			display: flex;
			flex-wrap: wrap;
			margin: -15px;
			align-items: center;
			justify-content: space-between;
			
		}
}
