.inputContainer{
    cursor: pointer;
    position: relative;
    .input{
        cursor: pointer;
        outline: none;
        height: 30px;
        width: 170px;
        padding: 2px;
        color: white;
        background: #3b8ad9;
        border-radius: 3px;
    }
    .placeholder{
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        align-items: center;
        color: white;
        
        .searchText{
            font:var(--font-s);
            margin-left: 5px;
            color: rgba(222, 220, 220, 0.721);
        }
    }
    .clearInput{
        position: absolute;
        top: 8px;
        right: 5px;
        color: white;
    }
}
