.content{
	max-width: 1200px;
	margin: 160px auto;
	text-align: center;
	span.text{
		margin-left: 10px;
	}
	.title{
	font-size: 36px;
	font-weight: 700;
	color: #333;
	}
	.cartItem{
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	
		.events{
			margin-top: 100px;
			font-size: 26px;

		}
		.empty{
			font-size: 26px;
			color: #333;
			
			.text{
				margin-bottom: 30px;
			}
		}
	}
}