.text{
    
}
.primary{
    color: var(--primary-color);
}
.secondary{
    color: var(--secondary-color);
}

.size_s{
     font: var(--font-s);
}
.size_m{
    font: var(--font-m);
}
.size_l{
     font: var(--font-l);
}