.filter{
	display: flex;
	align-items: center;
	margin-left: 50px;
	.filterItem{
		margin-left: 7px;
	}
	.input{
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 5px;
		background: #54a1ef;
		.search{
			cursor: pointer;
			opacity: 0.5;
			position: absolute;
			top: 4px;
			left: 1px;
			display: flex;
			align-items: center;
			color: white;
			margin-left: 10px;
			.searchItem{
				margin-right: 5px;
			}
		}
		input{
			cursor: pointer;
			outline: none;
			background: #54a1ef;
			border-radius: 5px;
			color: white;
			font-size: 16px;
			padding: 6px;
		}
	}
}